src/*.exe
src/moranova
src/moranovad
src/test_moranova
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.moranova
#compilation and Qt preprocessor part
*.qm
Makefile
moranova-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
